*{
    margin: 0;
    padding: 0;
    font-family: 'comfortaa';
}

nav{
    width: 400px;
    border: 2px solid red;
    height: 100vh;
    background: #ffe2e2;
    z-index: 2;
}

.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.nav-header .logo{
    font-size: 3.2rem;
    font-weight: bolder;
}

.nav-header .btn{
    width: 40px;
    font-size: 1.8rem;
}

.link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2px;
    padding: 2rem;
    list-style: none;
    font-size: 2rem;
    color: #6D214F;
    background: #F8EFBA;
    cursor: pointer;
}

.link:hover{
    background-color: #BDC581;
}

.arrow{
    position: absolute;
    bottom: 50%;
    font-size: 3rem;
    cursor: pointer;
    z-index: -2
}

.show{
    display: none;
}